/******************** MENU START ******************************/

.nav li.dropdown:hover> ul.dropdown-menu{
    display: block;
    margin: 0;
}
.dropdown-menu li.dropdown-submenu:hover>ul{
    display: block;
    margin: 0;
}
.navbar-collapse.collapse{

    background:#498af3!important;

}

.navbar-nav>li>a{

    color: #ffffff!important;

}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{

    background: #0a6d98!important;

}
.navbar-nav>li>.dropdown-menu{
    background:#498af3!important;

}

.navbar-nav>li>.dropdown-submenu{

    background:#498af3!important;


}
.navbar-header{

    background:#498af3!important;
}
.dropdown-menu > li{
background:#498af3!important;

}

.dropdown-submenu > li{

    background:#498af3!important;

}
.dropdown-menu > li > a{

    color: #ffffff!important;
    background:#498af3!important;
    font-size: 12px !important;

}

.dropdown-submenu .dropdown-menu {
    background:#498af3!important;

}




.dropdown-submenu > li > a{

    color: #ffffff!important;
    background:#498af3!important;
    font-size: 12px !important;

}

a {
    text-decoration: none !important;

}
/******************** MENU END ******************************/

label{

    font-family:Helvetica Neue!important;

}

.panel-info>.panel-heading{

    font-family:Helvetica Neue!important;
}

.panel-title{

    font-family:Helvetica Neue!important;
}

.radio{

    font-family:Helvetica Neue!important;

}
body{
    font-family:Helvetica Neue!important;

}

.checkbox{
    font-family:Helvetica Neue!important;

}
.checkbox-inline, .radio-inline{
    font-family:Helvetica Neue!important;

}

input[type=radio]{
    cursor: hand; !important;

}
.radio-inline{
    cursor: hand; !important;


}

/********MessageBox********/

.msgbtn {

    width:100px!important;

    height:30px!important;

    -moz-box-shadow:inset 0 1px 0 0 #bbdaf7!important;

    -webkit-box-shadow:inset 0 1px 0 0 #bbdaf7!important;

    box-shadow:inset 0 1px 0 0 #bbdaf7!important;

    background-color:#79bbff!important;

    -moz-border-radius:6px!important;

    -webkit-border-radius:6px!important;

    border-radius:6px!important;

    border:1px solid #84bbf3!important;

    display:inline-block!important;

    color:#fff!important;

    font-size:15px!important;

    font-weight:700!important;

    text-decoration:none!important;

    text-align:center!important;

    text-shadow:1px 1px 0 #528ecc!important;

    background-image:none!important;

}



.msgbtn:hover {

    background-color:#378de5!important;

}



.msgbtn:active {

    position:relative!important;

    top:1px!important;

}



.ui-dialog {

    font-size:10px!important;

}



.MessageBoxTitle {

    background-color:#6495ed!important;

    background-image:none!important;

    color:#FFF!important;

}



/***************ERROR MSG**************************/

.errormsg {

    font: 11px Helvetica Neue!important;

    color:#FF0000;

}
.dberrormsg{color: red;
    text-align: center;
    font-size: 18px;}

/***************TO SET COLOR FOR INVALID INPUT**************************/

.invalid{

    border:2px solid red;

}



/****************TO SET COLOR FOR MOUSE OVER INPUT FIELD***************************/

/*input:not([readonly="readonly"]):not([type="button"]):not([disabled]):hover{*/

/*border:1px solid blue;*/

/*}*/

/*select:not([disabled]):hover{*/

/*border:1px solid blue;*/

/*}*/
/*input[type=text]:focus{*/

/*outline: none;*/

/*box-shadow: 0px 0px 5px #61C5FA;*/

/*border:1px solid #5AB0DB;*/

/*}*/
/*input[type=text]:focus:hover {*/

/*border: 1px solid #1873CC;*/

/*box-shadow: 0px 0px 5px #8EC8FF;*/

/*border-radius: 0;*/

/*}*/
/*input[type=text]:hover{*/

/*outline: none;*/

/*box-shadow: 0px 0px 5px #61C5FA;*/

/*border:1px solid #5AB0DB;*/

/*border-radius:8px;*/



/*}*/





/*textarea:focus{*/

/*outline: none;*/

/*box-shadow: 0px 0px 5px #61C5FA;*/

/*border:1px solid #5AB0DB;*/

/*}*/



/*textarea:focus:hover {*/

/*border: 1px solid #1873CC;*/

/*box-shadow: 0px 0px 5px #8EC8FF;*/

/*border-radius: 0;*/

/*}*/



/*textarea:hover{*/

/*outline: none;*/

/*box-shadow: 0px 0px 5px #61C5FA;*/

/*border:1px solid #5AB0DB;*/

/*border-radius:8px;*/



/*}*/







/******PREVENTING MOUSE OVER EFECTS FOR FOLLOWING ELEMENTS*********/

/*input[readonly="readonly"]:hover*/

/*{*/

/*outline: none !important;*/

/*box-shadow: none !important;*/

/*border:none !important;*/

/*border-radius:0;*/



/*}*/
/*textarea:disabled*/

/*{*/

/*border:none !important;*/

/*}*/

/*******SET COLOR FOR DISABLED INPUT TYPE***************/

/*textarea[disabled] {*/

/*background-color: #C0C0C0 !important;*/

/*}*/
/*input:disabled*/

/*{*/

/*border:none !important;*/

/*}*/

/*******SET COLOR FOR DISABLED INPUT TYPE***************/

/*input[disabled] {*/

/*background-color: #C0C0C0 !important;*/

/*}*/

/*********************SET COLOR FOR MANDATORY * SYMBOL****************/

em{

    color:#FF0000;

}

/*****************SEARCH TABLE HEADER COLOR****************************/

table.srcresult {


    font-size:11px;

    color:#333333;

    border-width: 1px;

    border-color: #000000;

    border-collapse: collapse;

}

table.srcresult th {

    background-color:#498af3;

    border-width: 1px;

    padding: 8px;

    color:#FFFFFF;

    border-style: solid;

    border-color:#000000;

}

table.srcresult tr {

    background-color:#FFFFFF;

}

table.srcresult td {

    border-width: 1px;

    padding: 8px;

    border-style: solid;

    border-color: #000000;

}

/***************SEARCH TABLE HEADING COLOR*************/

.srctitle{

    color:#498af3;

}







/******************MOUSE OVER COLOR FOR SEARCH TABLE***************/

.srcresult td:hover
.column-hover
{

    background-color:#B0C4DE;

}

/******************SET STYLE FOR MAX SIZE BUTTON IN FORM*************/

.maxbtn{

    width: 130px;

    height:30px;

    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;

    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;

    box-shadow:inset 0px 1px 0px 0px #bbdaf7;

    background-color:#79bbff;

    -moz-border-radius:6px;

    -webkit-border-radius:6px;

    border-radius:6px;

    border:1px solid #84bbf3;

    display:inline-block;

    color:#ffffff;

    font-size:15px;

    font-weight:bold;

    padding:6px 24px;

    text-decoration:none;

    text-align: center;

    text-shadow:1px 1px 0px #528ecc;

}.maxbtn:hover {

     background-color:#378de5;

 }.maxbtn:active {

      position:relative;

      top:1px;

  }

.control-label {
    text-align: left !important;
}


.tarea:not(.wPaint-text-input) {
    min-height: 250px;
    max-width: 400px;
}
.textareaupd:not(.wPaint-text-input) {
    min-height: 250px;
    max-width: 500px;
}
.textareaupdacc:not(.wPaint-text-input) {
    min-height: 210px;
    max-width: 1000px;
}
.textareaaccinjured:not(.wPaint-text-input) {
    min-height: 35px;
    max-width: 350px;
}
.preloader
{
    opacity:0.8;
    background-color:#ccc;
    background: rgba(54,25,25,.3);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    vertical-align: middle;
    text-align: center;
    bottom:0;
    background-size: cover;
    display:none;
}
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.preloaderimg
{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}




.lg-container{
    width:450px;
    /*width:100%;*/
    margin:100px auto;
    padding:20px 40px;
    /*background:rgba(255,255,255,.5);*/
    /*-webkit-border-radius:10px;*/
    /*-moz-border-radius:10px;*/
    border-radius:10px;

    -webkit-box-shadow: 0 0 2px #aaa;
    -moz-box-shadow: 0 0 2px #aaa;
    box-shadow: 0 0 2px #aaa;
}
.lg-container h2{
    background-color:#498af3;
    text-align:center;
    /*border-radius:10px 10px 0 0;*/
    /*margin:-10px -40px;*/
    /*padding:15px*/
}
#lg-form > div {
    margin:10px 5px;
    padding:5px 0;
}

#lg-form input[type="text"],
#lg-form input[type="password"]{
    width:99.5%;
    padding:10px;
    margin-top:8px;
    border:1px solid #ccc;
    padding-left:5px;
    font-size:16px;
}
#lg-form div:nth-child(3) {
    text-align:center;
}
#lg-form button{
    width:50%;
    background-color:#73c20e;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    border-radius:5px;
}
