/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 Mar, 2015, 4:02:08 PM
    Author     : SSOMENS-021
*/
      .a-img-btn{
          background-color:#F5F5F5;       
            } 
               .a-img-btn-font-rem{
          background-color:#F5F5F5;       
            }
              .a-img-btn-active{
                background-color:lavender;      
            }
            .a-img-btn-font{
                background-color:lavender;
            }
